body{
    background-color: burlywood;
    }
 h1, h2, h3, h4, h5, p {
    color: rgb(236, 194, 54);
    background-color: rgb(81, 72, 18);
    opacity: 80%;
 }
@media  only screen and (max-width:420px) {
    body{
        background:url(../Imagenes/fondo4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .cont1{
        width: 100%;
        display: flex;
        margin: 3px;
        padding: 1px;
        padding-top: 4px;
        margin-top: -8px;
        
    }
    .cont2{
        display: flex;
        flex-direction: column;
        margin: 2px;
    }
    .box1{
        position: relative;
        opacity: 80%;
        width: 25%;
        height: 3rem;
    }
   .text5{
    
    margin-top: 16px; 
    padding-left: 4%; 
   }
 

    .box2{
        background-color: transparent;
        width: 45%;
        height: 7rem;
        padding: 4%;
        margin: 6%;
        margin-left: 18%;
        padding-left: 10%;    
    }
    .text4{
        position: relative;
        padding-left: 10%;
        
    }
    .imagen1{
        position: relative;
        width: 7rem;
        left: 12%;
    }
    .mapa2, .mapa3{
        display: none;
    }
    .box3{
        margin: 10px;
    }
    
    .imagen2{
        width: 10rem;
        margin-bottom: 2px;
        margin-top: -4px;
    }  
    .footer{
        position: relative;
        padding-left: 5%;
    }
    }
@media only screen and (min-width: 420px) and (max-width: 700px) {
  body{
    background: url(../Imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .cont1, .cont2{
    display: flex;
   
    flex-wrap: wrap;
}
.cont1{
    width: 100%;
}
.cont2{
    width: 100%;
    position: relative;
    right: 4%;
    margin-right: 5%;
    
}
.box1{
    float: right;
    width: 25%;
   }
.box1b{
     width: 25%;
}
.box2{
    position: relative;
    width: 13rem;
    margin-left: 20px;
    padding-left: 3%;
    left: 6%;
    
}
.text4{
    position: relative;
    padding-left: 15%;
    left: 5%;
}
.text5{
    position: relative;
    padding-left: 5%;
    
}
.mapa1, .mapa3{
    display: none;
}
.imagen1{
    position: relative;
    left: 6%;
    width: 8rem;
    padding: 1rem;
    padding-left: 2rem;
}
.imagen2{
    width: 14rem;
    margin: 5px;
}
}
@media only screen and (min-width: 700px){
     body{
    background: url(../Imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }   
 .cont1{
    display: flex;
    width: 100%;
    height: 1rem;
    padding: 2px;
    margin: 4px;
 }
 .cont2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .cont3{
    display: flex;
    width: 30%;
 }
 .box1{
    width: 25%;
    height: 2rem;
    padding: 3px;

 }
 .box1b{
    width: 8rem;
    height: 2rem;
    padding: 3px;
 }
 .box2{
    width: 45%;
    padding-left: 4%;
 }
 .box3{
    width: 100%;
    margin: 5px;
    
 }
 .imagen1{
    width: 90%;
    padding-left: 5%;
 }
 .imagen2{
    width: 13rem;
    margin: 5px;

 }
 .mapa1, .mapa2{
    display: none;
 } 
 .texto2{
    margin: 4%;
 }
 .text4{
    padding-left: 5%;
 }
 .text5{
    margin-left: 2%;
    padding-left: 4%;
 }
}
